<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/styles/aboutus.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>

</head></head>
<body>

<div >
    <header>
        <div class="victor1">
            <img src="https://github.com/4O4ers/eventome-fe/blob/main/src/imgs/Vector%204.png?raw=true">
        </div>
        <div><h1>MEET OUR TEAM</h1></div>

        <div><p >We are all very different. We were born in different cities, at different times, we love different music,
            food, movies. But we have something that unites us all.
            It is our company. We are its heart. We are not just a team, we are a family. </p></div>
    </header>
    <main>
        <div class="con">
            <div class="d1">
                <img src="https://static.thenounproject.com/png/3162143-200.png" />
                <h3>Creativity</h3>
                <p class="text-center">we have the  ability to think outside the box. We make decisions, create something new and generate a lot of ideas.</p>
            </div>
            <div class="d2" >
                <img src="https://cdn.iconscout.com/icon/free/png-256/responsive-2090858-1770932.png" />
                <h3>Responsive</h3>
                <p class="text-center">We care about providing a good and consistent experience on all types of devices , so the website is designed to respond to
                    the size of the screen  and provide an intuitive experience for every visitor.</p>
            </div>
            <div class="d3" >
                <img src="https://static.thenounproject.com/png/91870-200.png" />
                <h3>Unique Styles</h3>
                <p class="text-center">Style is one of the most important things on the site, so we made an attractive style by made a simple design but unique in the same time </p>
            </div>
        </div>
        <section>
            <div>
                <ul class="cards">
                    <li>
                        <a href="" class="card">
                            <img src="https://ca.slack-edge.com/TNGRRLUMA-U023KJ3V8DA-006083e88e0f-512" class="card__image1" alt="aliAlhjouj" />
                            <div class="card__overlay">
                                <div class="card__header">
                                    <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
                                    <img class="card__thumb" src="https://i.pinimg.com/564x/f6/7c/59/f67c59d721c25233077ea04ff873acc9.jpg" alt="" />
                                    <div class="card__header-text">
                                        <h3 class="card__title">Emam Shararah</h3>
                                    </div>
                                </div>
                                <p class="card__description">Full Stack Developer Front End</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="" class="card">
                            <img src="https://ca.slack-edge.com/TNGRRLUMA-U023KC1FUDS-e80bc1bebedd-512" class="card__image" alt="" />
                            <div class="card__overlay">
                                <div class="card__header">
                                    <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
                                    <img class="card__thumb" src="https://i.pinimg.com/236x/aa/aa/0d/aaaa0d2da11ee7167bc9fe5625838276.jpg" alt="" />
                                    <div class="card__header-text">
                                        <h3 class="card__title">Ahmad Alasa'd</h3>
                                    </div>
                                </div>
                                <p class="card__description">Full Stack Developer Back End</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="" class="card">
                            <img src="https://ca.slack-edge.com/TNGRRLUMA-U022H3JCZ7U-218a5a88076d-512" class="card__image1" alt="" />
                            <div class="card__overlay">
                                <div class="card__header">
                                    <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
                                    <img class="card__thumb" src="https://i.pinimg.com/236x/5d/83/0e/5d830eb667457129f620b370f4cb70ad.jpg" alt="" />
                                    <div class="card__header-text">
                                        <h3 class="card__title">Ali ALhjouj</h3>
                                    </div>
                                </div>
                                <p class="card__description">Full Stack Developer Back End</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="" class="card">
                            <img src="https://ca.slack-edge.com/TNGRRLUMA-U022P8CSNAY-e6319b56f348-512" class="card__image" alt="" />
                            <div class="card__overlay">
                                <div class="card__header">
                                    <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
                                    <img class="card__thumb" src="https://i.pinimg.com/236x/73/34/fd/7334fd9223bb989e8dbbe92c44a03b03.jpg" alt="" />
                                    <div class="card__header-text">
                                        <h3 class="card__title">Thaer Al Jomhawi</h3>
                                    </div>
                                </div>
                                <p class="card__description">Full Stack Developer Front End</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="" class="card">
                            <img src="https://ca.slack-edge.com/TNGRRLUMA-U020HH2MTG9-8715d19cdf2d-512" class="card__image" alt="" />
                            <div class="card__overlay">
                                <div class="card__header">
                                    <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
                                    <img class="card__thumb" src="https://i.imgur.com/sjLMNDM.png" alt="" />
                                    <div class="card__header-text">
                                        <h3 class="card__title">Ghaida Gharaibeh</h3>
                                    </div>
                                </div>
                                <p class="card__description">Full Stack Developer Front End</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </main>
</div>
</div>

<div class="container">
    <div class="content">
        <div class="left-side">
            <div class="address details">
                <i class="fas fa-map-marker-alt"></i>
                <div class="topic">Address</div>
                <div class="text-one">Surkhet, NP12</div>
                <div class="text-two">Birendranagar 06</div>
            </div>
            <div class="phone details">
                <i class="fas fa-phone-alt"></i>
                <div class="topic">Phone</div>
                <div class="text-one">+0098 9893 5647</div>
                <div class="text-two">+0096 3434 5678</div>
            </div>
            <div class="email details">
                <i class="fas fa-envelope"></i>
                <div class="topic">Email</div>
                <div class="text-one">codinglab@gmail.com</div>
                <div class="text-two">info.codinglab@gmail.com</div>
            </div>
        </div>
        <div class="right-side">
            <div class="topic-text">Send us a message</div>
            <p>If you have any work from me or any types of quries related to my tutorial, you can send me message from here. It's my pleasure to help you.</p>
            <form action="#">
                <div class="input-box">
                    <input type="text" placeholder="Enter your name">
                </div>
                <div class="input-box">
                    <input type="text" placeholder="Enter your email">
                </div>
                <div class="input-box message-box">
                    <textarea placeholder="Enter your message"></textarea>
                </div>
                <div class="button">
                    <input type="button" value="Send Now" >
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>