<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

<div class="container">
<div class="row">

    <div class="col"> <img src="https://lh3.googleusercontent.com/ILX2rdzXorMA8Ri-wHeXN-dVqoW65KZSJzViD7yyTD5u3utwc9gNayIjL5jUQMjaSUIO6yBszAMJy9ABRIQEKrK_1O-RWK01tWca3kqRn3z_44Jg6Bf0H7KLASyI7HNogt8fY5dNI0sgjKEZ6vc0SNMpvhoLz2OW1-ERABB-cHduek4NYt69lFeZFpJfS0VO_tsE2mraOmJsu7Sfva4GM0qR6293K69e6eLhSVixNMd_7L49TabjgUlGbyMkcf-8PnVmK0VolHWwy-eUm8TcaSxXQkXuML0tfhFmCLZd0nBmL2wpKr-1jP_JILe9MXpFepA4bbLCZRePUpWlM_gZNuqsOnNyvHGQRc506GQLhpbUIODLYzHXAFAjUuW5RykI2hxdAKIbvqHQzNc4yiWjzFN3l6yLiYQE1LjyhO173yUiFPbTYzShCR1RZ7bJZPYXdPUB4dfTsGyQpYe2SjGIe_WgQVqVIxDaLAcfeKl4Rkp50K4HhIGjnNNJhP6wjudThNrMeZRegPG93LYYwjc4lY-fDAx82XCeCkYzRw1YLdvVWJgIX6pQXYhVYWWkFnejYfrkgKIpGhqXXmYT_7lRkeC4eUxj4Cs6Dqn8qP2oVPfFIRKiOxdXwSSDMzzLN7CalFWOSaVKyHjyQeowNou2RZQmF0UkPDwPJHbj1yW2FhYxfWGj5HDvYvLN02rziRlGLgzEtH_SqCHsSV_DHYI5q9p4=w439-h568-no?authuser=0" alt="">  </div>
    <div class="col"></div>
</div>

    <div class="row">
      <h1 class="font-weight-bolder text-info text-center"> The Username used is Already Exist  or Error happened </h1>
    </div>

    <div class="row text-center">
        <div class="col"></div>
        <a href="/"><h1 class="badge badge-danger font-weight-bolder "> Return Home </h1></a>
        <div class="col"></div>
    </div>

</div>


</body>
</html>