<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Home page</a>
        </div>
        <ul class="nav navbar-nav">
            <li ><a th:if="${authUser}" th:href="${'/profile'}" >profile</a></li>
            <li ><a th:if="${authUser}" th:href="${'/event'}" >Create event</a></li>
            <li ><a href="#" >All users</a></li>
            <li ><a href="#" >feed</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li sec:authorize="!isAuthenticated()"><a href="/signup" ><span class="glyphicon glyphicon-user"></span> Sign Up Business</a></li>
            <li sec:authorize="!isAuthenticated()"><a href="/signupNormal" ><span class="glyphicon glyphicon-user"></span> Sign Up Normal</a></li>
            <li sec:authorize="!isAuthenticated()"><a href="/login"  ><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <li ><p  id="text"></li>
            <li sec:authorize="isAuthenticated()"><a href="/perform_logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div>
</nav>
<p th:text="' firstName: ' +${authUser.getFirstName()} +' '+${authUser.getLastName()}"> </p>
<p th:text="' type: ' + ${authUser.getUserType()}"> </p>
<p th:if="${authUser.getUserType() == 'business'}" th:text="${authUser.getLocation()}"> </p>
<p th:if="${authUser.getUserType() == 'business'}" th:text="${authUser.getPlaceName()}"> </p>
<p th:if="${authUser.getUserType() == 'business'}" th:text="${authUser.getWorkingHour()}"> </p>

<main>
    <h1>Host events</h1>
    <div th:if="${authUser.getUserType() == 'normal'}">
        <div th:each="event:${authUser.getEventList()}">
            <p th:text="'gameName '+${event.getGameName()}"></p>
            <p th:text="'NumberOfPlayer '+${event.getNumberOfPlayer()}"></p>
            <p th:text="'DateTime '+${event.getDateTime()}"></p>
            <p th:text="'Place '+${event.getPlace()}"></p>
            <a href="#" class="btn btn-danger" th:href="@{/deleted/{id}(id=${event.getId()})}">delete</a>
            <a href="#" class="btn btn-primary" th:href="@{/updatefromprofile/{id}(id=${event.getId()})}">update</a>

        </div>
    </div>
    <div th:if="${authUser.getUserType() == 'business'}">
        <div th:each="event:${authUser.getEventList()}">
            <p th:text="'gameName '+${event.getGameName()}"></p>
            <p th:text="'Description '+${event.getDescription()}"></p>
            <p th:text="'DateTime '+${event.getDateTime()}"></p>
            <p th:text="'Place '+${event.getPlace()}"></p>
            <a  href="#" class="btn btn-primary" th:href="@{/updatefromprofile/{id}(id=${event.getId()})}">update</a>
            <a href="#" class="btn btn-danger" th:href="@{/deleted/{id}(id=${event.getId()})}">delete</a>
        </div>
    </div>
    <h1 th:if="${authUser.getUserType() == 'normal'}">join event</h1>
    <div th:each="event:${authUser.getEvents()}">
        <div th:if="${event.getApplicationUser().getUserType() == 'normal'}">
            <p th:text="'Host Name ...!: '+${event.getApplicationUser().getFirstName()}"></p>
            <p th:text="'gameName '+${event.getGameName()}"></p>
            <p th:text="'NumberOfPlayer '+${event.getNumberOfPlayer()}"></p>
            <p th:text="'DateTime '+${event.getDateTime()}"></p>
            <p th:text="'Place '+${event.getPlace()}"></p>
            <div th:each="userJoin:${event.getApplicationUserList()}">
                <p th:text="${userJoin.getFirstName()}"></p>
            </div>
            <div th:if="${authUser}">
                <div th:if="!${event.getApplicationUser() == authUser}">
                    <a th:if="${authUser.getEvents().contains(event)}" href="#" class="btn btn-primary" th:href="@{/unjoins/{id}(id=${event.getId()})}">unjoin</a>
                </div>
            </div>
        </div>
        <div th:if="${event.getApplicationUser().getUserType() == 'business'}">
            <p th:text="'Host Name ...!: '+${event.getApplicationUser().getFirstName()}"></p>
            <p th:text="'gameName '+${event.getGameName()}"></p>
            <p th:text="'Description '+${event.getDescription()}"></p>
            <p th:text="'DateTime '+${event.getDateTime()}"></p>
            <p th:text="'Place '+${event.getPlace()}"></p>
            <div th:each="userJoin:${event.getApplicationUserList()}">
                <p th:text="${userJoin.getFirstName()}"></p>
            </div>
            <div th:if="${authUser}">
                <div th:if="!${event.getApplicationUser() == authUser}">
                    <a th:if="${authUser.getEvents().contains(event)}" href="#" class="btn btn-primary" th:href="@{/unjoins/{id}(id=${event.getId()})}">uninterested</a>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>