<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>
<body>
<div class="container">
    <form action="/signup" method="post">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" id="username"></br>

        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" id="password"></br>

        <label for="firstName">firstName</label>
        <input type="text" class="form-control" name="firstName" id="firstName"></br>

        <label for="lastName">lastName</label>
        <input type="text" class="form-control" name="lastName" id="lastName"></br>

        <label for="location">location</label>
        <input type="text" class="form-control" name="location" id="location"></br>

        <label for="placeName">placeName</label>
        <input type="text" class="form-control" name="placeName" id="placeName"></br>

        <label for="workingHour">workingHour</label>
        <input type="text" class="form-control" name="workingHour" id="workingHour"></br>

        <label for="image">image</label>
        <input type="text" class="form-control" name="image" id="image" accept="image/jpeg, image/png"></br>

        <input type="submit" class="btn btn-primary">
    </form>

</div>

</body>
</html>