<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>
<body>
<form action="/signupNormal" method="post">
  <label for="username">Username</label>
  <input type="text" class="form-control" name="username" id="username"></br>

  <label for="password">Password</label>
  <input type="password" class="form-control" name="password" id="password"></br>

  <label for="firstName">firstName</label>
  <input type="text" class="form-control" name="firstName" id="firstName"></br>

  <label for="lastName">lastName</label>
  <input type="text" class="form-control" name="lastName" id="lastName"></br>

  <label for="image">image</label>
  <input type="text" class="form-control" name="image" id="image" accept="image/jpeg, image/png"></br>

  <input type="submit" class="btn btn-primary">

</form>
</body>
</html>
