<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>


<div class="container-fluid">

    <div class="row">
        <div class="col">
    <div class="card border-primary mt-5 shadow" style="width: 27rem;">
        <img src="https://cf.geekdo-images.com/sZYp_3BTDGjh2unaZfZmuA__imagepage/img/pBaOL7vV402nn1I5dHsdSKsFHqA=/fit-in/900x600/filters:no_upscale():strip_icc()/pic2437871.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Gloomhaven <span class="badge badge-danger">#1</span></h5>
            <p class="card-text">Vanquish monsters with strategic cardplay. Fulfill your quest to leave your legacy!</p>
            <h6>Rate <span class="badge badge-secondary">8.8</span></h6>
            <h6 class="card-text"><small class="text-muted">1–4 Players</small></h6>
            <h6 class="card-text"><small class="text-muted">60–120 Min Playing Time</small></h6>
            <a href="#" class="card-link">Read more </a>
        </div>
    </div>
        </div>

<!--Card 2-->
        <div class="col">
        <div class="card border-secondary mt-2 shadow" style="width: 27rem;">
            <img src="https://cf.geekdo-images.com/-Qer2BBPG7qGGDu6KcVDIw__imagepage/img/qZybAu8uJ9_sZlU2A65DIF6Y2Zw=/fit-in/900x600/filters:no_upscale():strip_icc()/pic2452831.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Pandemic Legacy: Season 1  <span class="badge badge-danger">#2</span></h5>
                <p class="card-text">Mutating diseases are spreading around the world - can your team save humanity?</p>
                <h6>Rate <span class="badge badge-secondary">8.6</span></h6>
                <h6 class="card-text"><small class="text-muted">2–4 Players</small></h6>
                <h6 class="card-text"><small class="text-muted">60 Min Playing Time</small></h6>
                <a href="#" class="card-link">Read more </a>

            </div>
        </div>
        </div>

<!--Card 3 -->
        <div class="col">
        <div class="card border-success mt-5 shadow" style="width: 27rem;">
            <img src="https://cf.geekdo-images.com/5I9Ib6f9wgvXsrw-Iy12Jw__imagepage/img/dc3E1VjzAKKHVtmMdHRClzNbTPo=/fit-in/900x600/filters:no_upscale():strip_icc()/pic3490095.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Brass: Birmingham <span class="badge badge-danger">#3</span></h5>
                <p class="card-text">Build networks, grow industries, and navigate the world of the Industrial Revolution</p>
                <h6>Rate <span class="badge badge-secondary">8.7</span></h6>
                <h6 class="card-text"><small class="text-muted">2–4 Players</small></h6>
                <h6 class="card-text"><small class="text-muted">60–120 Min Playing Time</small></h6>
                <a href="#" class="card-link">Read more </a>
            </div>
        </div>
        </div>
    </div>

    <div class="row">
        <!--Card 4 -->
        <div class="col">
        <div class="card border-danger mt-5 shadow" style="width: 27rem;">
            <img src="https://cf.geekdo-images.com/hHMtdzDqQtYYFccJD_C4XA__imagepage/img/kiCMRZ3Bh0_DLnYT9RA55xCzS9w=/fit-in/900x600/filters:no_upscale():strip_icc()/pic3515035.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Terraforming Mars <span class="badge badge-danger">#4</span></h5>
                <p class="card-text">Compete with rival CEOs to make Mars habitable and build your corporate empire.</p>
                <h6>Rate <span class="badge badge-secondary">8.4</span></h6>
                <h6 class="card-text"><small class="text-muted">1–5 Players</small></h6>
                <h6 class="card-text"><small class="text-muted">120 Min Playing Time</small></h6>
                <a href="#" class="card-link">Read more </a>
            </div>
        </div>
        </div>
        <!--Card 5 -->
        <div class="col">
        <div class="card border-warning mt-2 shadow" style="width: 27rem;">
            <img src="https://cf.geekdo-images.com/_HhIdavYW-hid20Iq3hhmg__imagepage/img/JUEcmeR5Cm5haFjoG5f_Uv8Zlws=/fit-in/900x600/filters:no_upscale():strip_icc()/pic5055631.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Gloomhaven: Jaws of the Lion <span class="badge badge-danger">#5</span></h5>
                <p class="card-text">Vanquish monsters with strategic cardplay in a 25-scenario Gloomhaven campaign.</p>
                <h6>Rate <span class="badge badge-secondary">8.7</span></h6>
                <h6 class="card-text"><small class="text-muted">1–4 Players</small></h6>
                <h6 class="card-text"><small class="text-muted">30–120 Min Playing Time</small></h6>
                <a href="#" class="card-link">Read more </a>
            </div>
        </div>
        </div>

        <!--Card 6 -->
        <div class="col">
        <div class="card border-info mt-5 shadow" style="width: 27rem;">
            <img src="https://cf.geekdo-images.com/_Ppn5lssO5OaildSE-FgFA__imagepage/img/0AK9hQgpcOOOLJh8IEZS3Nw57vE=/fit-in/900x600/filters:no_upscale():strip_icc()/pic3727516.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Twilight Imperium: Fourth Edition <span class="badge badge-danger">#6</span></h5>
                <p class="card-text">Build an intergalactic empire through trade, research, conquest and grand politics.</p>
                <h6>Rate <span class="badge badge-secondary">8.7</span></h6>
                <h6 class="card-text"><small class="text-muted">3–6 Players</small></h6>
                <h6 class="card-text"><small class="text-muted">240–480 Min Playing Time</small></h6>
                <a href="#" class="card-link">Read more </a>
            </div>
        </div>
        </div>
    </div>

    <div class="row">
        <!--Card 7 -->
        <div class="col">
        <div class="card border-warning mt--5 shadow" style="width: 27rem;">
            <img src="https://cf.geekdo-images.com/hGWFm3hbMlCDsfCsauOQ4g__imagepage/img/l0fffSKu6wscHhUNGWRh-0n-bqQ=/fit-in/900x600/filters:no_upscale():strip_icc()/pic5375625.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Gaia Project <span class="badge badge-danger">#7</span></h5>
                <p class="card-text">Expand, research, upgrade, and settle the galaxy with one of 14 alien species.</p>
                <h6>Rate <span class="badge badge-secondary">8.5</span></h6>
                <h6 class="card-text"><small class="text-muted">1–4 Players</small></h6>
                <h6 class="card-text"><small class="text-muted">60–150 Min Playing Time</small></h6>
                <a href="#" class="card-link">Read more </a>
            </div>
        </div>
        </div>

        <!--Card 8 -->
        <div class="col">
        <div class="card border-dark mt-5 shadow" style="width: 27rem;">
            <img src="https://cf.geekdo-images.com/7SrPNGBKg9IIsP4UQpOi8g__imagepage/img/89ViRUkHkCJhvZA5fay7A9-46mY=/fit-in/900x600/filters:no_upscale():strip_icc()/pic4325841.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Star Wars: Rebellion <span class="badge badge-danger">#8</span></h5>
                <p class="card-text">Strike from your hidden base as the Rebels—or find and destroy it as the Empire.</p>
                <h6>Rate <span class="badge badge-secondary">8.4</span></h6>
                <h6 class="card-text"><small class="text-muted">2–4 Players</small></h6>
                <h6 class="card-text"><small class="text-muted">180–240 Min Playing Time</small></h6>
                <a href="#" class="card-link">Read more </a>
            </div>
        </div>
        </div>

        <!--Card 9 -->
        <div class="col">
        <div class="card border-primary mt--5 shadow" style="width: 27rem;">
            <img src="https://cf.geekdo-images.com/fVwPntkJKgaEo0rIC0RwpA__imagepage/img/kLV0WV3-tC7wGqSbzdBAAGjU3g4=/fit-in/900x600/filters:no_upscale():strip_icc()/pic2663291.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Through the Ages: A New Story of Civilization <span class="badge badge-danger">#9</span></h5>
                <p class="card-text">Rewrite history as you build up your civilization in this epic card drafting game!</p>
                <h6>Rate <span class="badge badge-secondary">8.4</span></h6>
                <h6 class="card-text"><small class="text-muted">2–4 Players</small></h6>
                <h6 class="card-text"><small class="text-muted">120 Min Playing Time</small></h6>
                <a href="#" class="card-link">Read more </a>
            </div>
        </div>
        </div>
    </div>

    <div class="row">
        <!--Card 10 -->
        <div class="col"></div>
        <div class="col">
        <div class="card border-secondary mt-2 mb-5 shadow" style="width: 35rem; height:40rem">
            <img src="https://cf.geekdo-images.com/ImPgGag98W6gpV1KV812aA__imagepage/img/ZHAFxwwPAmpSqOjPb98GZV_x3rA=/fit-in/900x600/filters:no_upscale():strip_icc()/pic1215633.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">War of the Ring: Second Edition  <span class="badge badge-danger">#10</span></h5>
                <p class="card-text">The Fellowship and the Free Peoples clash with Sauron over the fate of Middle-Earth.</p>
                <h6>Rate <span class="badge badge-secondary">8.5</span></h6>
                <h6 class="card-text"><small class="text-muted">2–4 Players</small></h6>
                <h6 class="card-text"><small class="text-muted">150–180 Min Playing Time</small></h6>
                <a href="#" class="card-link">Read more </a>
            </div>
        </div>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col">  <h2 class="font-weight-bolder text-info text-center">Let us know if you own one of those games and find new friends to challenge .</h2> </div>
    </div>
    <div class="row">
        <div class="col">  <h5 class="text-center text-secondary"> Become part of our community <a href="#" class="badge badge-warning"> SignUp now </a> </h5> </div>

    </div>
    <div class="row">
        <div class="col"> <h6 class="text-center text-primary ">Already have account ? <a href="#" class="badge badge-info">LogIn</a> </h6> </div>

    </div>
    </div>


</div>

</body>
</html>