@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
* {
box-sizing: border-box;

}




.navbar  {
font-family: 'Roboto', sans-serif;
font-size: 1.2pc;
background-color: #181D31;
height: 5.5rem;
border-radius: 0px;
color: white;
position: sticky;
top: 0;
z-index: 10;
}

.navbar  a{
text-decoration: none;
color: white;
transition: 0.2s;
}

.navbar  a:hover{
color: blue;
}


.navbar-header {
margin-top: -2rem;
font-size: 3.5pc;
font-family: 'Staatliches', cursive;
}

.navbar-header img {
width: 70px;
filter: invert(1);

}

.navbar-header  a:hover{
color:white;
}


.container-fluid {
width: 90%;
margin: 0 auto;
display: flex;
justify-content: row;
height: 7rem;
align-items: center;
}


.nav{
display: flex;
justify-content: flex-start;
height: 5rem;
align-items: center;
}

.nav li {
margin-left: 1rem;
}

.img {

position: absolute;
right: 10rem;
top: 1rem;
width: 55px;
    height: 55px;
border-radius: 50%;
}


.a {
position: absolute;
right: 5.5rem;
top: 2.5rem;
}


.dropbtn {

  color: white;
  font-size: 1.4pc;
  border: none;
  cursor: pointer;
  margin-left: 2rem;

}

.dropdown {
  position: relative;
  display: inline-block;

padding-top: 0.5rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  height: fit-content;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius:5px;
  margin-left: 3.5rem;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}



#cover {
height: 20rem;
background-image: url(https://images.unsplash.com/photo-1582921017967-79d1cb6702ee?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
background-size: cover;
background-position-y: -35rem;
background-position-x: 0rem;
}

#cover h2 {
font-family: 'Staatliches', cursive;
color: white;
font-size: 5.5pc;
font-weight: bolder;
text-align:center;
padding-top: 2rem;
 text-shadow: 3px 7px #181D31;
letter-spacing: 9px;
}

#mid {
margin-top: 1rem;
margin-left: 3.5rem;
width: 95%;
}


#content{
width: 90%;
margin: 1rem auto;
height: fit-content;


}

.side-menu{
margin-top: 2.5rem;
margin-left: 3rem;
background-color: white;
float: left;
width: 14%;
height: fit-content;
padding: 2rem;
 box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.27);
 border-radius:5px;

 position: sticky;
 z-index: 2;

}

.d {
top: 6rem;

}

.side-menu p {
font-family: 'Roboto', sans-serif;

}

.side-menu li {
margin-top: 0.7rem;

}

.side-menu a {
font-family: 'Roboto', sans-serif;
text-decoration: none;
color: black;
}


.side-menu a:hover {
color: red;

}

#this-btn {
margin-left:4rem;
}

main {
background-color:rgba(238, 236, 236, 0.84);
border-radius: 5px;
width: 85%;
float: right;
height: fit-content;
margin-top: 1rem;
border-width: 1px;
padding: 1rem;
}


main a {
color: white;
border-radius: 2px;
text-decoration: none;
background-color: #181D31;
padding: 0.9rem;
display: inline-block;
width: fit-content;
margin-top: 0.5rem;
}




main a:active {
background-color: #FF4646;

}

#event {
padding: 1rem;
width: 70%;
margin-left: 4rem;
margin-top: 2rem;
border-radius: 5px;
height: fit-content;
box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.27);
background-color: white;
font-family: 'Roboto', sans-serif;

}


#event p:nth-child(1) {
font-size: 1.2pc;

}

#event p {

margin-top: 0.5rem;

}



#host {
font-family: 'Roboto', sans-serif;
font-size: 1.5pc;
margin-left: 3.5rem;

}


form {
font-family: 'Roboto', sans-serif;
height: 6rem;
display: flex;
flex-wrap: wrap;
margin-left: 3.5rem;
margin-top: 1rem;
align-items: center;
border-radius: 5px;
 box-shadow: 0 8px 8px -4px lightblue;
padding: 1rem;
background-color: white;

}

input[type=text], input[type=datetime-local], input[type=number] {
margin-left: 1rem;
padding: 0.5rem;
border-radius: 5px;
border-width: 0.1px;
border-color: lightgrey;
}

input[type=number]{
width: 10rem;
}

label{
margin-left: 1rem;
}

 input[type=number]:focus {
  outline: none;

}


input[type=text]:focus {
  outline: none;

}

input[type=datetime-local]:focus {
  outline: none;
}

.btn {
background-color: #181D31;
margin-left: 1rem;
border: none;
padding: 0.6rem;
color: white;
width: 6.5rem;
transition: 0.1s;
text-align:center;
cursor: pointer;
}

.btn-danger {

background-color: rgba(175, 13, 13, 0.9);
}

.btn-danger:hover {
background-color: rgba(91, 5, 5, 0.9);
}

.btn:hover {
background-color: rgba(219, 142, 235, 0.96);

}




footer {

width: 100%;
height: 7rem;
font-family: 'Roboto', sans-serif;
text-align: center;
display: flex;
justify-content: center;
align-items: center;

}


#imp {
width: 50%;
margin-top: 3rem;
border: white solid;
}

#divider {
width: 100%;
border: 5px solid #181D31;

}


footer a {
font-size: 3.5pc;
font-family: 'Staatliches', cursive;
text-decoration: none;
color: black;
font-weight: bolder;

}


footer img {
width: 75px;
}

#rights{
display: inline;
margin-top: 3.5rem;
margin-left: 1rem;
}