@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
* {
box-sizing: border-box;

}




.navbar  {
font-family: 'Roboto', sans-serif;
font-size: 1.2pc;
background-color: #181D31;
height: 5.5rem;
border-radius: 0px;
color: white;
position: sticky;
top: 0;
z-index: 10;
}

.navbar  a{
text-decoration: none;
color: white;
transition: 0.2s;
}

.navbar  a:hover{
color: grey;
}


.navbar-header {
margin-top: -2rem;
font-size: 2pc;
font-family: 'Staatliches', cursive;
}

.navbar-header img {
width: 50px;
filter: invert(1);

}

.navbar-header  a:hover{
color:white;
}


.container-fluid {
width: 90%;
margin: 0 auto;
display: flex;
justify-content: row;
height: 7rem;
align-items: center;
}


.nav{
display: flex;
justify-content: flex-start;
height: 5rem;
align-items: center;
}

.nav li {
margin-left: 1rem;
}

.img {

position: absolute;
right: 10rem;
top: 1.2rem;
width: 55px;
    height: 55px;
border-radius: 50%;
}


.a {
position: absolute;
right: 5.5rem;
top: 2.8rem;
}


.dropbtn {

  color: white;
  font-size: 1.4pc;
  border: none;
  cursor: pointer;
  margin-left: 2rem;

}

.dropdown {
  position: relative;
  display: inline-block;
padding-top: 0.5rem;
}

.dropdown-content {
  display: ;
  position: absolute;

  min-width: 160px;
  height: fit-content;

  z-index: 1;
  border-radius:5px;
  margin-left: 10rem;
}

.dropdown-content a {
  color: white;
  padding: 1rem;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

i {


}


#banner {

width: 100%;
height: 20rem;
background-image: url(https://images.unsplash.com/photo-1606733847546-db8546099013?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2172&q=80);
background-size: cover;
background-position-y: 20rem;
background-position-x: 0rem;
}




#info {
background-color: white;
position: relative;
width: 70%;
height: 22rem;
margin: -12rem auto;
border-radius: 5px;
box-shadow: 0px 5px 7px hsla(284, 0%, 0%, 0.31);

}


.avatar {
width: 250px;
height: 250px;
border-radius: 50%;
box-shadow: 0px 5px 7px hsla(284, 0%, 0%, 0.31);
position:absolute;
top: 3rem;
left: 3rem;
}

#ps {
position: absolute;
top: 5rem;
left: 22rem;
width: fit-content;

}

#info p {
font-family: 'Roboto', sans-serif;
font-size: 2pc;
margin-top: 0.2rem;
font-weight: light;
}

.dice {
position: absolute;
top: 1rem;
right: -25rem;
font-size: 6pc;
}



#info span {
font-family: 'Roboto', sans-serif;
font-size: 2pc;
margin-top: 0.2rem;
font-weight: light;

}


#info a {
display: block;
font-family: 'Roboto', sans-serif;
font-size: 1.5pc;
margin-top: 2rem;
text-decoration: none;
}

main {
width: 70%;
margin: 0rem auto;
position: relative;
}

h1 {

font-family: 'Roboto', sans-serif;
font-size: 1.4pc;
margin-top: 3rem;
margin-left: 0rem;
}

.hosting {
width: 49%;
height: 36rem;
float: left;
border-radius: 8px;
font-family: 'Roboto', sans-serif;
overflow: auto;
margin-top: 1rem;
padding: 0.5rem;
padding-bottom: 2rem;
box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.27);
background-color:#EEE0F3;
}



#joining {
width: 49%;
float: right;
height: 36rem;
border-radius: 8px;
font-family: 'Roboto', sans-serif;
overflow: auto;
margin-top: 1rem;
padding: 0.5rem;
padding-bottom: 2rem;
background-color:#EEE0F3;
box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.27);
}

#notify {
width: 70%;
height: 7rem;
border-radius: 5px;
font-family: 'Roboto', sans-serif;
overflow: auto;
padding: 0.5rem;
margin: 0 auto;
margin-top: 14rem;

}

#nojoint {
position: absolute;
top: 20rem;
left: 44rem;
font-size: 1.3pc;
opacity: 0.6;
}


.nohost {
font-family: 'Roboto', sans-serif;
font-size: 1.3pc;
opacity: 0.6;
position: absolute;
top: 20rem;
left: 11rem;
}

#gg {
font-family: 'Roboto', sans-serif;
font-size: 1.4pc;

}

#not {

padding: 1rem;
width: 100%;
border-radius: 5px;
height: fit-content;
box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.27);
margin-top: 2rem;

}


.hosting::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 5px
}

.hosting::-webkit-scrollbar
{
    width: 3px;
    background-color: #181D31;
    border-radius: 5px
}

.hosting::-webkit-scrollbar-thumb
{
    background-color: #181D31;
    border: 2px solid #181D31;
    border-radius: 5px
}


#joining::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 5px
}

#joining::-webkit-scrollbar
{
    width: 3px;
    background-color: #181D31;
    border-radius: 5px
}

#joining::-webkit-scrollbar-thumb
{
    background-color: #181D31;
    border: 2px solid #181D31;
    border-radius: 5px
}

#notify::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 5px
}

#notify::-webkit-scrollbar
{
    width: 3px;
    background-color: #181D31;
    border-radius: 5px
}

#notify::-webkit-scrollbar-thumb
{
    background-color: #181D31;
    border: 2px solid #181D31;
    border-radius: 5px
}


.event {
padding: 1rem;
width: 90%;
margin-left: 2rem;
margin-top: 2rem;
border-radius: 5px;
height: fit-content;
box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.27), -5px -3px 50px #ffffff;
background-color: #EEE0F3;
font-family: 'Roboto', sans-serif;

}


.event p:nth-child(1) {
font-size: 1.2pc;

}

.event p {
margin-top: 0.5rem;

}


.btn {
background-color: #181D31;
margin-left: 1rem;
margin-top: 0.5rem;
border: none;
padding: 0.6rem;
color: white;
width: 6.5rem;
transition: 0.1s;
text-align:center;
text-decoration: none;
border-radius: 5px;
cursor: pointer;
display: inline-block;
}

.btn-danger {

background-color: rgba(175, 13, 13, 0.9);
}

.btn-danger:hover {
background-color: rgba(91, 5, 5, 0.9);
}

.btn:hover {
background-color: rgba(219, 142, 235, 0.96);

}


.btn-danger:hover {
background-color: darkred;

}


html::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 5px
}

html::-webkit-scrollbar
{
    width: 7px;
    background-color: #181D31;
    border-radius: 5px
}

html::-webkit-scrollbar-thumb
{
    background-color: #181D31;
    border: 2px solid #181D31;
    border-radius: 5px
}

















































footer {
background-color: #181D31;
width: 100%;
height: 3.5rem;
font-family: 'Roboto', sans-serif;
text-align: center;
display: flex;
align-items: center;
position: relative;
margin-top: 3rem;
}


#imp {
width: 50%;
margin-top: 3rem;
border: white solid;
}

#divider {
width: 100%;
border: 5px solid #181D31;

}


footer a {
font-size: 3.5pc;
font-family: 'Staatliches', cursive;
text-decoration: none;
color: white;
margin-left: 2.5rem;
position: absolute;
left: 2rem;

}


footer img {
width: 75px;
filter: invert(1);
}

#rights{
display: inline;

color: white;
}

#rit {
position: absolute;
left: 0;
right:0;
bottom: 2rem;

}


