@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@300&display=swap');

body {

width: 80%;
margin: 5rem auto;
}

#logo {
font-size: 5pc;
font-family: 'Righteous', cursive;
padding:0.2rem;
border: solid black;
border-width: 15px;
width:fit-content;

}

form {
font-family: 'Roboto', sans-serif;
display: flex;
flex-direction: column;
margin-left: 3.5rem;
align-items: center;
align-content: center;
border-radius: 5px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
padding: 1rem;
transition: 0.3s;
}



input[type=text], input[type=datetime-local], input[type=number], input[type=password] {
margin-left: 1rem;
padding: 0.2rem;
width: 35rem;
}

input[type=number]{

width: 2rem;
}



label{
margin-left: 1rem;
}

 input[type=number]:focus {
  outline: none;
}


input[type=text]:focus {
  outline: none;
}

input[type=password]:focus {
  outline: none;
}

input[type=datetime-local]:focus {
  outline: none;
}

.btn {
background-color: black;
margin-left: 1rem;
border: none;
padding: 0.5rem;
color: white;
width: 5rem;
transition: 0.2s;

}


.btn:hover {
transform: scale(110%);

}
.btn:active {
transform: scale(100%);
background-color: #FF4646;
}


#up {
text-decoration: none;
font-size: 3.5pc;
font-family: 'Roboto', sans-serif;
font-weight: bolder;
color: black;
background-color: black;
padding: 0.4rem;

color:white;
transition: 0.2s;
}


#up:hover {
background-color: white;
color:black;


}

.tag{
font-size: 3pc;
font-family: 'Roboto', sans-serif;
font-weight: bolder;
color: black;
margin-top: 1rem;
}