@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

h1 {
font-size: 60px;
}

h2{
font-size: 30px;
}


.navbar-brand img{
filter: invert(1);
}

.navbar-brand{
font-family: 'Staatliches', cursive;
font-size: 30px;
}