/** {*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    color: #1a1f36;*/
/*    box-sizing: border-box;*/
/*    word-wrap: break-word;*/
/*    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,sans-serif;*/
/*}*/
/*body {*/
/*    background-color: #ffffff;*/
/*}*/
/*h1 {*/
/*    letter-spacing: -1px;*/
/*}*/
/*a {*/
/*    color: #5469d4;*/
/*    text-decoration: unset;*/
/*}*/
/*.login-root {*/
/*    background: #fff;*/
/*    display: flex;*/
/*    width: 100%;*/
/*    height: 50vh;*/
/*    overflow: hidden;*/
/*}*/
/*.loginbackground {*/
/*    height: 400px;*/
/*    position: fixed;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    top: 0;*/
/*    z-index: 0;*/
/*    overflow: hidden;*/
/*}*/
/*.flex-flex {*/
/*    display: flex;*/
/*}*/
/*.align-center {*/
/*    align-items: center;*/
/*}*/
/*.center-center {*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/
/*.box-root {*/
/*    box-sizing: border-box;*/
/*}*/
/*.flex-direction--column {*/
/*    -ms-flex-direction: column;*/
/*    flex-direction: column;*/
/*}*/

/*.box-divider--light-all-2 {*/
/*    box-shadow: inset 0 0 0 2px #e3e8ee;*/
/*}*/
/*.box-background--blue {*/
/*    background-color: #5469d4;*/
/*}*/
/*.box-background--white {*/
/*    background-color: #ffffff;*/
/*}*/
/*.box-background--blue800 {*/
/*    background-color: #212d63;*/
/*}*/
/*.box-background--gray100 {*/
/*    background-color: #e3e8ee;*/
/*}*/
/*.box-background--cyan200 {*/
/*    background-color: #7fd3ed;*/
/*}*/
/*.padding-top--64 {*/
/*    padding-top: 50px;*/
/*}*/
/*.padding-top--15 {*/
/*    margin-bottom: 5px;*/
/*}*/

/*.padding-top--24 {*/
/*    padding-top: 24px;*/
/*}*/
/*.padding-top--48 {*/
/*    padding-top: 40px;*/
/*}*/

/*.padding-horizontal--48 {*/
/*    padding: 40px;*/
/*}*/



/*.flex-justifyContent--center {*/
/*    -ms-flex-pack: center;*/
/*    justify-content: center;*/
/*}*/

/*.formbg {*/
/*    margin: 0px auto;*/
/*    width: 100%;*/
/*    max-width: 448px;*/
/*    background: white;*/
/*    border-radius: 4px;*/
/*    box-shadow: rgba(35, 64, 182, 0.12) 0px 7px 14px 10px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;*/
/*}*/
/*span {*/
/*    display: block;*/
/*    font-size: 20px;*/
/*    line-height: 28px;*/
/*    color: #1a1f36;*/
/*}*/

/*.reset-pass a,label {*/
/*    font-size: 14px;*/
/*    font-weight: 600;*/
/*    display: block;*/
/*}*/
/*.reset-pass > a {*/
/*    text-align: right;*/
/*}*/
/*.grid--50-50 {*/
/*    display: grid;*/
/*    grid-template-columns: 50% 50%;*/
/*    align-items: center;*/
/*}*/

/*.field input {*/
/*    font-size: 16px;*/
/*    line-height: 28px;*/
/*    padding: 8px 16px;*/
/*    width: 100%;*/
/*    min-height: 44px;*/
/*    border: unset;*/
/*    border-radius: 4px;*/
/*    outline-color: rgb(84 105 212 / 0.5);*/
/*    background-color: rgb(255, 255, 255);*/
/*    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,*/
/*    rgba(0, 0, 0, 0) 0px 0px 0px 0px,*/
/*    rgba(0, 0, 0, 0) 0px 0px 0px 0px,*/
/*    rgba(60, 66, 87, 0.16) 0px 0px 0px 1px,*/
/*    rgba(0, 0, 0, 0) 0px 0px 0px 0px,*/
/*    rgba(0, 0, 0, 0) 0px 0px 0px 0px,*/
/*    rgba(0, 0, 0, 0) 0px 0px 0px 0px;*/
/*}*/

/*input[type="submit"] {*/
/*    background-color: rgb(84, 105, 212);*/
/*    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,*/
/*    rgba(0, 0, 0, 0) 0px 0px 0px 0px,*/
/*    rgba(0, 0, 0, 0.12) 0px 1px 1px 0px,*/
/*    rgb(84, 105, 212) 0px 0px 0px 1px,*/
/*    rgba(0, 0, 0, 0) 0px 0px 0px 0px,*/
/*    rgba(0, 0, 0, 0) 0px 0px 0px 0px,*/
/*    rgba(60, 66, 87, 0.08) 0px 2px 5px 0px;*/
/*    color: #fff;*/
/*    font-weight: 600;*/
/*    cursor: pointer;*/
/*}*/
/*.field-checkbox input {*/
/*    width: 20px;*/
/*    height: 15px;*/
/*    margin-right: 5px;*/
/*    box-shadow: unset;*/
/*    min-height: unset;*/
/*}*/
/*.field-checkbox label {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    margin: 0;*/
/*}*/
/*a.ssolink {*/
/*    display: block;*/
/*    text-align: center;*/
/*    font-weight: 600;*/
/*}*/
/*.footer-link span {*/
/*    font-size: 14px;*/
/*    text-align: center;*/
/*}*/
/*.listing a {*/
/*    color: #697386;*/
/*    font-weight: 600;*/
/*    margin: 0 10px;*/
/*}*/

/*.animationRightLeft {*/
/*    animation: animationRightLeft 2s ease-in-out infinite;*/
/*}*/
/*.animationLeftRight {*/
/*    animation: animationLeftRight 2s ease-in-out infinite;*/
/*}*/
/*.tans3s {*/
/*    animation: animationLeftRight 3s ease-in-out infinite;*/
/*}*/
/*.tans4s {*/
/*    animation: animationLeftRight 4s ease-in-out infinite;*/
/*}*/

/*@keyframes animationLeftRight {*/
/*    0% {*/
/*        transform: translateX(0px);*/
/*    }*/
/*    50% {*/
/*        transform: translateX(1000px);*/
/*    }*/
/*    100% {*/
/*        transform: translateX(0px);*/
/*    }*/
/*}*/

/*@keyframes animationRightLeft {*/
/*    0% {*/
/*        transform: translateX(0px);*/
/*    }*/
/*    50% {*/
/*        transform: translateX(-1000px);*/
/*    }*/
/*    100% {*/
/*        transform: translateX(0px);*/
/*    }*/
/*}*/
/*label {*/
/*    margin-bottom: 0;*/
/*}*/


@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

* {
    box-sizing: border-box;

}

body{


}

.logo{
    width: fit-content;
}

.logo img{
    width: 75px;

}


.logo a{
    font-size: 3.5pc;
    font-family: 'Staatliches', cursive;
    text-decoration: none;
    color: black;
}

.container{
    width: 85%;
    height: 75vh;
    margin: 6rem auto;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transition: 0.3s;
    position: relative;
}

#left {
    width: 50%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: baseline;
    padding: 4rem;
    margin-top: -3rem;
}

#gol label{
    margin-left: 1rem;

}


#gol .btn{
    margin-left: 1rem;

}

#right {
    background-image: url(https://images.unsplash.com/photo-1615806647582-53fea422c9b4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1776&q=80);
    background-size: cover;
    width: 50%;
    height: 75vh;
    float: right;
}

input {
    margin-top: 1rem;
    padding: 0.5rem;
    border-width: 0.1px;
}

.btn {
    margin-left: 5rem;
    background-color: #181D31;
    padding: 0.7rem;
    color: white;
    cursor: pointer;
    border-style: none;
}

i {
    margin-right: 1rem;
    font-size: 1.2pc;
    opacity: 0.8;
}

#op {
    width: fit-content;
    margin-top: 2rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;

}

#op a {
    text-decoration: none;

}

#home {
    display: block;
    margin-top: 1rem;
}